<po-page-list 
    p-title="Profissionais"
    [p-actions]="actions">

  <po-table 
    [p-columns]="columnsExport"
    [p-items]="itemsExport">
  </po-table>
  
</po-page-list>

<po-modal #incluirProfissionalModal p-title="Novo(a) Profissional" [p-primary-action]="confirm" [p-secondary-action]="close">
    <form>
        <div class="po-row">
            <po-input class="po-md-10" formControlName="nome" p-clean p-icon="po-icon-user" p-label="Nome"> </po-input>
            <po-switch
                class="po-md-2"
                name="socio"
                p-label-off="Não"
                p-label-on="Sim"
                p-label="Sócio(a)">
            </po-switch>
        </div>
        <div class="po-row">
        
        </div>
        <div class="po-row">
            <po-input class="po-lg-12" formControlName="endereco" p-clean p-icon="po-icon-pin" p-label="Endereço"> </po-input>                    
        </div>
        <div class="po-row">
            <po-number class="po-lg-4" formControlName="telefone" p-label="Telefone" p-clean> </po-number>
            <po-email class="po-lg-8" formControlName="email" p-label="Email" p-clean> </po-email>
        </div>
    </form>
</po-modal>