<po-page-list 
    p-title="Profissionais"
    [p-actions]="actions"
    [p-filter]="filterSettings">

  <po-table 
    [p-columns]="columns"
    [p-items]="items">
  </po-table>  
</po-page-list>

<po-modal #advancedFilterModal p-title="Busca Avançada" [p-primary-action]="advancedFilterPrimaryAction">
    <form>
        <div class="po-row">
            <po-input class="po-md-12" formControlName="nome" p-clean p-icon="po-icon-user" p-label="Nome"> </po-input>
        </div>    
        <div class="po-row">
            <po-combo
                class="po-lg-8"
                name="especialidade"
                p-icon="po-icon-exam"
                p-label="Especialidade"
                [p-options]="listaEspecialidades">
            </po-combo>
            <po-switch
                class="po-md-4"
                name="socio"
                p-label-off="Não"
                p-label-on="Sim"
                p-label="Somente Sócios(as)">
            </po-switch>
        </div>
    </form>
</po-modal>

<po-modal #incluirProfissionalModal p-title="Novo(a) Profissional" [p-primary-action]="confirm" [p-secondary-action]="close">
    <form>
        <div class="po-row">
            <po-input class="po-md-10" formControlName="nome" p-clean p-icon="po-icon-user" p-label="Nome"> </po-input>
            <po-switch
                class="po-md-2"
                name="socio"
                p-label-off="Não"
                p-label-on="Sim"
                p-label="Sócio(a)">
            </po-switch>
        </div>
            <po-combo
                class="po-lg-12"
                name="especialidade"
                p-icon="po-icon-exam"
                p-label="Especialidade"
                [p-options]="listaEspecialidades">
            </po-combo>
        <div class="po-row">
            <po-input class="po-lg-12" formControlName="endereco" p-clean p-icon="po-icon-pin" p-label="Endereço"> </po-input>                    
        </div>
        <div class="po-row">
            <po-number class="po-lg-4" formControlName="telefone" p-label="Telefone" p-clean p-icon="po-icon po-icon-social-whatsapp"> </po-number>
            <po-email class="po-lg-8" formControlName="email" p-label="Email" p-clean> </po-email>
        </div>
    </form>
</po-modal>